{% extends "base.html" %}
{% block title %}Inicio{% endblock title %}
{% block content %}
{% for product in products %}
<div class="col-sm-4 mb-4">
    {% if product.product_type == 'electronic' %}
    <div class="card" style="width: 100%">
        <img class="card-img-top" src="{{ product.picture.url }}" />
        <div class="card-body">
            <h5 class="card-title">{{ product | capfirst }}</h5>
            <p class="card-text">Marca: {{ product.brand }}</p>
            <p class="card-text">Modelo: {{ product.model }}</p>
            <p class="card-text mb-3">Precio: {{ product.price }}</p>

            {% if user.is_authenticated %}
            <a href="#" class="btn btn-primary">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="#" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<br>
{% endif %}
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg">
                    {% for page in paginator.page_range %}
                    {% if page == music.number %}
                        <span class="page-link">{{ page }}<span class="sr-only">(current)</span></span>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}