<div class="container mb-4">
    <div class="row">
        <div class="col-md-12">
            <form method="get" class="search-form">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar..." name="q" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>